.front-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid yellow;
    padding: 10px;
  }
  
  .left-section {
    flex: 1;
    padding: 10px;
  }
  
  .left-section .product {
    text-align: center;
    border: 3px solid darkgoldenrod
  }
  
  .left-section .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .right-section {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-row {
    width: calc(33.33% - 20px); /* 3 products in a row with spacing */
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
   
  }
  
  .product {
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    font-size: 18px;
  }
  
  .product-description {
    font-size: 14px;
    color: #777;
  }
  
  .product-price {
    font-size: 16px;
    color: #FFA500;
  }
  